In [1]:
import pandas as pd

In [ ]:
!which python

In [ ]:
df = pd.read_csv('Data-Collisions.csv', low_memory=False)

In [ ]:
df[df['ROADCOND'].isnull()]

/home/taz/.local/share/virtualenvs/Coursera_Capstone-5j-Ycuah/bin/python

In [8]:
df = pd.read_csv('Data-Collisions.csv', low_memory=False)

In [36]:
df[df['ROADCOND'].isnull()]

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
15,1,-122.337663,47.617510,20,330878,332378,3838086,Unmatched,Block,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
36,1,-122.335727,47.613363,45,330925,332425,3838128,Unmatched,Block,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
53,2,-122.307866,47.570915,63,330824,332324,3803369,Unmatched,Intersection,573394.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
60,1,-122.335571,47.521783,72,330841,332341,EA29934,Unmatched,Block,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
75,1,-122.360524,47.519195,87,320926,322426,3587806,Unmatched,Intersection,34896.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194620,1,-122.377549,47.668671,219484,308942,310222,E875404,Unmatched,Block,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
194625,1,-122.337552,47.589374,219491,308378,309658,3812445,Unmatched,Block,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
194646,1,-122.320756,47.608656,219513,312289,313709,E872044,Unmatched,Block,NaN,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
194654,1,-122.312679,47.719414,219522,311117,312437,E881587,Unmatched,Intersection,36427.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
194655,2,-122.380016,47.664879,219523,310911,312231,3751425,Unmatched,Intersection,25174.0,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,650595,N